<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8">
    <title>To-do app</title>
    <ul>
        <div class="logo-wrapper">
            <li class="logo"><a class="logo" href="/"><img class="logo" src="/DECK navbar.png" alt="DECK"></a></li>
        </div>
        <div class="nav-link-wrapper">
            <li class="navlink"><a class="nav-a" href="/">All Projects</a></li>
            <li class="navlink"><a class="nav-a" href="/create-user">Create User</a></li>
            <li class="navlink"><a class="nav-a" href="/create-project">Create Project</a></li>
        </div>
    </ul>
</head>

<body>
    {{{body}}}
</body>

</html>