<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/allProjects.css">
  <title>todo project</title>
</head>

<body>

  <div class="container">
    <!-- page rendering all projects that have been added/dashboard -->
    {{#each projects}}
    <a href="/projects/{{this.id}}">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.summary}}</p>
            <a href="/projects/{{this.id}}" class="btn btn-primary"><button>Open Project</button>
            </a>
          </div>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</body>

</html>