<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todo project</title>
</head>

<body>
  <div class="first-projects-wrapper">
    <div class="modal">
      <h2 class="first-project-title">Create Your First Project</h2>
      <a href="./create-project" class="btn btn-primary">
        <button>Add Project</button>
      </a>
    </div>
  </div>
</body>

</html>