<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/createUser.css"> --}}
  <title>todo project</title>
</head>

<body>
  <!-- form for creating user -->
  {{!-- <form action="/createUser" method="POST"></form> --}}
  <div id="wrapper">
    <form action="/create-user" method="POST" class="input-group flex-nowrap modal">
      <h1>New User</h1>

      <div id="enter-username">
        <span class="input-group-text" id="addon-wrapping">
          <p>@</p>
        </span>
        <input type="text" class="form-control username" placeholder="Username" aria-label="Username" name="name"
          aria-describedby="addon-wrapping">
      </div>
      <br>
      <div id="select-avatar">
        <span class="input-group-text choose-avi">
          <p> Choose Your Avatar</p>
        </span>
        <select name="avatar" id="select-user">
          <option class="avatar" value="&#129409;"> &#129409;</option>
          <option class="avatar" value="&#128025;"> &#128025;</option>
          <option class="avatar" value="&#128036;"> &#128036;</option>
          <option class="avatar" value="&#128029;"> &#128029;</option>
          <option class="avatar" value="&#128040;"> &#128040;</option>
          <option class="avatar" value="&#128044;"> &#128044;</option>
          <option class="avatar" value="&#128056;"> &#128056;</option>
          <option class="avatar" value="&#128054;"> &#128054;</option>
        </select>
      </div>


      <br>
      <button type="submit" value="Submit" class="btn btn-primary mb-3">Create User</button>

    </form>
  </div>
  <script src="createUser.js"></script>
</body>

</html>