<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <title>todo project</title>
</head>

<body>
  <!-- form for creating user -->
  {{!-- <form action="/createUser" method="POST"></form> --}}
  <div action="/createUser" method="POST" class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
      aria-describedby="addon-wrapping">
  </div>
  <span class="input-group-text">Please choose your avatar</span>
  <div class="container">
    <select>
      <option class="avatar"> &#129409;</option>
      <option class="avatar"> &#128025;</option>
      <option class="avatar"> &#128036;</option>
      <option class="avatar"> &#128029;</option>
      <option class="avatar"> &#128040;</option>
      <option class="avatar"> &#128044;</option>
      <option class="avatar"> &#128056;</option>
      <option class="avatar"> &#128054;</option>
    </select>

  </div>
  <div class="input-group mb-3">
    <button type="submit" value="Submit" class="btn btn-primary mb-3">Create User</button>

  </div>

  {{!--
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script> --}}
  <script src="createUser.js"></script>
</body>

</html>