<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DECK</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <!-- form for adding projects -->
  <div id="create-task-wrapper">
    <form class="modal" id="task-modal" action="/projects/{{projectID}}/create-task" method="POST">
      <h1>New Task</h1>
      <div class="row">
        <label for="taskname" class="task-name-title">Task Title</label>
        <input type="text" class="task-name-input" id="taskname" placeholder="Task Title" name="title">
      </div>
      <div class="row">
        <label for="task-description" class="form-label">Description</label>
        <textarea type="text" class="task-description-textarea" id="task-description" rows="3"
          name="description"></textarea>
        <div class="row">
          <label for="user" class="assign-user-title">Assign to a user:</label>
          <select name="userid" id="user">
            {{#each users}}
            <option value="{{this.id}}">{{this.name}}{{this.avatar}}</option>
            {{/each}}
          </select>
          <br>
          <button type="submit" value="Submit" class="btn btn-primary mb-3">Add Task</button>
        </div>
      </div>
    </form>
  </div>

</body>

</html>