<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />

    <header class="landing-header" style="background-image: url('DECK.png');"></header>
    <title>Deck</title>
</head>

<body class="landing">
    <h1 class="landing">Welcome to <span class="deck">DECK!</span></h1>
    <br>
    <p class="landing">Deck is your friendly, easy to use team organisation app. Create your first user to get started!
    </p>
    <br>
    <a class="landing landing-btn" href="/create-user"><button>Create User</button></a>
</body>

</html>