body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  /* justify-content: center;
  align-items: center; */
  margin: 1rem;
  padding: 1rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 1px 1px 1px black;
  width: 20rem;
  height: 15rem;
  margin: 2rem;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-direction: column;
  flex: 1 1 auto;
  /* padding: 1rem 1rem; */
  width: 100%;
  text-align: center;
}

.card-title {
  text-transform: capitalize;
  font-size: 2rem;
  margin-top: 0;
  margin-top: 1rem;
  color: #45a29e;
}

a {
  color: black;
  text-decoration: none;
}
