* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #45a29e;
}
.active {
  background-color: grey;
}

input[type='submit'] {
  background-color: #36383d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button {
  background-color: #36383d;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #45a29e;
  transition: ease-in;
  transition: 1s;
}

input[type='submit']:hover {
  background-color: #45a29e;
  transition: ease-in;
  transition: 1s;
}

header.landing-header {
  height: 30rem;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body.landing{
  color: white;
  background-color: #0B0C10;
}
h1.landing, p.landing, a.landing{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
  
